@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@model BloodAppTry.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DonorID" class="control-label"></label>
                @if (Accessor.HttpContext.Session.GetString("Username") != null && Accessor.HttpContext.Session.GetString("Type") == "Admin")
                {
                    <select asp-for="DonorID" class="form-control" asp-items="ViewBag.DonorID"></select>
                }
                else if (Accessor.HttpContext.Session.GetString("Username") != null && Accessor.HttpContext.Session.GetString("Type") == "Donor")
                {
                    <select asp-for="DonorID" class="form-control">
                        <option>@Accessor.HttpContext.Session.GetString("ID")</option>
                    </select>
                }
                else if (Accessor.HttpContext.Session.GetString("Username") != null && Accessor.HttpContext.Session.GetString("Type") == "Doctor")
                {
                    <select asp-for="DonorID" class="form-control">
                        <option>@Model.DonorID</option>
                    </select>
                }
                <span asp-validation-for="DonorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationCenterID" class="control-label"></label>
                @if (Accessor.HttpContext.Session.GetString("Username") != null && Accessor.HttpContext.Session.GetString("Type") == "Doctor")
                {
                    <select asp-for="DonationCenterID" class="form-control">
                        <option>@Model.DonationCenterID</option>
                    </select>
                }
                else
                {
                    <select asp-for="DonationCenterID" class="form-control" asp-items="ViewBag.DonationCenterID"></select>
                }
                <span asp-validation-for="DonationCenterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" min=@DateTime.Now></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusA" class="control-label"></label>
                <select asp-for="StatusA" class="form-control">
                    <option>Pending</option>
                    <option>Confirmed</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
